---
import MainLayout from "../../layouts/MainLayoutRo.astro";

const title = "Alegeți-vă limba";
const description = "Bun venit pe site-ul oficial al LNP Books.";
const url = "https://books.lnp-group.com/ro-ro/limbă";
const locale = "ro-RO";
const image = "/images/esu-timeline.png";

// CSS
import '../../styles/global.css';
import '../../styles/language.css';

---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
	alternateUrls={{
		"en": "https://books.lnp-group.com/language",
		"us": "https://books.lnp-group.com/en-us/language",
		"ro": "https://books.lnp-group.com/ro-ro/limbă"
	}}
>
	<div class="language-page">
		<div class="header">
			<h1>Limbă</h1>
		</div>
		<div id="main" class="main">
			<ul class="language-picker">
                <li class="lang-item">
                    <a class="lang-link" href="/">
						<img alt="United Kingdom" class="lang-flag" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg"/>
                        English (Traditional)
                    </a>
                </li>
				<li class="lang-item">
					<a class="lang-link" href="/en-us">
						<img alt="United States" class="lang-flag" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg"/>
						English (Simplified)
					</a>
				</li>
                <li class="lang-item">
                    <a class="lang-link" href="/ro-ro">
						<img alt="Romania" class="lang-flag" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/RO.svg"/>
                        Română
                    </a>
                </li>
            </ul>
		</div>
	</div>
</MainLayout>