---
import MainLayout from "../../layouts/MainLayoutUs.astro";

const title = "Page not found";
const description = "Welcome to the official website of LNP Books.";
const url = "https://books.lnp-group.com/en-us/";
const locale = "en-US";
const image = "/images/esu-timeline.png";

// CSS
import '../../styles/global.css';
import '../../styles/404.scss'


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
	alternateUrls={{
		"en":"https://books.lnp-group.com/",
		"us":"https://books.lnp-group.com/en-us/",
		"ro":"https://books.lnp-group.com/ro-ro/"
	}}
>
<div class="error-404">
	<div class="glitch-text">
		<div class="stack" style="--stacks: 3;">
			<span style="--index: 0;">404</span>
			<span style="--index: 1;">404</span>
			<span style="--index: 2;">404</span>
		</div>
		<h2>Page not found</h2>
		<p>Sorry, the page you are looking for does not exist.</p>
		<a href="/">Go back to home</a>
	</div>
	<img class="logo-404" src="/favicon.svg" alt="LNP Books" />
</div>

</MainLayout>