---
import MainLayout from "../../../../layouts/MainLayoutRo.astro";


// SEO

const title = "Madame Wilhelmina | Universul Eteric de Supereroi";
const description = "O vrăjitoare trebuie să treacă peste pieirea speciei sale.";
const url = "https://books.lnp-group.com/ro-ro/cărți/ues/madame-wilhelmina";
const locale = "ro-RO";
const image = "/images/madame-wilhelmina.png";

// CSS
import '../../../../styles/global.css';
import '../../../../styles/book.css';


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
    alternateUrls={{
		"en": "https://books.lnp-group.com/books/esu/madame-wilhelmina",
		"us": "https://books.lnp-group.com/en-us/books/esu/madame-wilhelmina",
		"ro": "https://books.lnp-group.com/ro-ro/cărți/ues/madame-wilhelmina"
	}}
>
<div class="books">
	<div class="header">
		<h1>Madame Wilhelmina</h1>
	</div>
	<div id="main" class="main">
		<div class="book">
            <div class="book-cover">
                <img src="/images/madame-wilhelmina.png" alt="Madame Wilhelmina promotional image" />
            </div>
            <div class="book-info">
                <p><span class="info-box">Titlu:</span> Madame Wilhelmina</p>
                <p><span class="info-box">Autor:</span> <a href="/ro-ro/autori/cioarec-stelian">Cioarec Stelian</a></p>
                <p><span class="info-box">Synopsis:</span> <i>O vrăjitoare trebuie să treacă peste pieirea speciei sale.</i></p>
                <p><span class="info-box">Dată de Lansare:</span> AFA</p>
                <p><span class="info-box">Nr. de Pagini:</span> AFA</p>
                <p><span class="info-box">Serie:</span> <a href="/ro-ro/cărți/ues">Universul Eteric de Supereroi</a></p>
            </div>
            <div class="book-details">
                <h2>Personaje</h2>
                <ul class="book-details-list">
                    <li class="character">
                        Madame Wilhelmina
                    </li>
                </ul>
                <h2>Locații</h2>
                <ul class="book-details-list">
                    <li>
                        Pământ
                    </li>
                </ul>
                <h2>Obiecte</h2>
                <ul class="book-details-list">
                    <li>
                        În curând
                    </li>
                </ul>
                <h2>Link-uri</h2>
                <ul class="book-details-list">
                    <li>
                        Link-uri sociale
                        <ul class="book-details-list">
                            <li>
                                <a href="https://www.instagram.com/ESUWilhelmina/" target="_blank">
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/ESUWilhelmina/" target="_blank">
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ESUWilhelmina/" target="_blank">
                                    Twitter
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>
</MainLayout>