---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Page not found";
const description = "Welcome to the official website of LNP Books.";
const url = "https://books.lnp-group.com";
const locale = "en-US";
const image = "/images/esu-timeline.png";
export const aboutSlug = "about";

// CSS
import '../styles/global.css';
import '../styles/404.scss'


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
>
<div class="error-404">
	<div class="scene">
		<div class="banner">
		 <div class="panel"></div>
		 <div class="panel"></div>
		 <div class="panel"></div>
		 <div class="panel"></div>
		 <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		  <div class="panel"></div>
		</div>
		<div class="screen"></div>
	</div>
</div>

</MainLayout>