---
import MainLayout from "../layouts/MainLayout.astro";
import AccordionPanel from "../components/AccordionPanel.astro";

const title = "About Us";
const description = "Welcome to the official website of LNP Books.";
const url = "https://books.lnp-group.com/about";
const locale = "en-GB";
const image = "/images/esu-timeline.png";

// CSS
import '../styles/global.css';
import '../styles/about.css';



---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
	alternateUrls={{
		"en": "https://books.lnp-group.com/about",
		"us": "https://books.lnp-group.com/en-us/about",
		"ro": "https://books.lnp-group.com/ro-ro/despre-noi"
	}}
>
<div class="about">
	<div class="header">
		<h1>About Us</h1>
	</div>
	<div id="main" class="main">
		<div class="faq">
			<h2>FAQ</h2>
			<div class="accordion">
				<AccordionPanel
					title="What is LNP Books?"
					icon="one"
					content="LNP Books is a book-publishing company owned by LNP Group."
					expanded="true"
					hidden="false"
					image="/images/esu.png"
					alt="Ethereal Superheroes Universe"
					panelHeadingId="panel1-heading"
					panelContentId="panel1-content"
					panelTitleId="panel1-title"
				/>
				<AccordionPanel
					title="Who owns LNP Books?"
					icon="two"
					content="LNP Books is owned by Stelian Cioarec."
					expanded="false"
					hidden="true"
					image="/images/purple-bolt.png"
					alt="Purple Bolt"
					panelHeadingId="panel2-heading"
					panelContentId="panel2-content"
					panelTitleId="panel2-title"
				/>
				<AccordionPanel
					title="What franchises does LNP Books publish?"
					icon="three"
					content="LNP Books currently publishes only the Ethereal Superheroes Universe franchise."
					expanded="false"
					hidden="true"
					image="/images/thor.png"
					alt="Thor"
					panelHeadingId="panel3-heading"
					panelContentId="panel3-content"
					panelTitleId="panel3-title"
				/>
				<AccordionPanel
					title="Where can I buy LNP Books' titles?"
					icon="four"
					content="LNP Books' titles are currently available on Amazon, Apple Books and Google Play Books."
					expanded="false"
					hidden="true"
					image="/images/madame-wilhelmina.png"
					alt="Madame Wilhelmina"
					panelHeadingId="panel4-heading"
					panelContentId="panel4-content"
					panelTitleId="panel4-title"
				/>
				<AccordionPanel
					title="What is the Ethereal Superheroes Universe?"
					icon="five"
					content="The Ethereal Superheroes Universe is a superhero franchise created by Stelian Cioarec. It is a shared universe where all the characters are connected to each other in some way."
					expanded="false"
					hidden="true"
					image="/images/doctor-hex.png"
					alt="Doctor Hex"
					panelHeadingId="panel5-heading"
					panelContentId="panel5-content"
					panelTitleId="panel5-title"
				/>
				<AccordionPanel
					title="Can I preview LNP Books' titles?"
					icon="six"
					content="Yes, you can preview LNP Books' titles on Apple Books, Google Play Books and Wattpad. You can find all preview links on our website, on each book's page, once they are published."
					expanded="false"
					hidden="true"
					image="/images/the-ghost.png"
					alt="The Ghost"
					panelHeadingId="panel6-heading"
					panelContentId="panel6-content"
					panelTitleId="panel6-title"
				/>
				<AccordionPanel
					title="What authors does LNP Books publish?"
					icon="seven"
					content="LNP Books currently publishes only Stelian Cioarec's titles, with plans to expand."
					expanded="false"
					hidden="true"
					image="/images/the-ethereals.png"
					alt="The Ethereals"
					panelHeadingId="panel7-heading"
					panelContentId="panel7-content"
					panelTitleId="panel7-title"
				/>
				<AccordionPanel
					title="How do I contact LNP Books?"
					icon="eight"
					content="You can contact LNP Books by sending an email to us on our contact page."
					expanded="false"
					hidden="true"
					image="/images/esu-timeline.png"
					alt="Ethereal Superheroes Universe Timeline"
					panelHeadingId="panel8-heading"
					panelContentId="panel8-content"
					panelTitleId="panel8-title"
				/>
			</div>
		</div>
	</div>
</div>
<script is:inline>
	const accordion = document.querySelector('.accordion');
	
	accordion.addEventListener('click', (e) => {
		const activePanel = e.target.closest('.accordion-panel');
		if (!activePanel) return;
		toggleAccordion(activePanel);
	});

	function toggleAccordion(panelToActivate) {

		const buttons = panelToActivate.parentElement.querySelectorAll('button');
		const contents = panelToActivate.parentElement.querySelectorAll('.accordion-content');

		buttons.forEach((button) => {
			button.setAttribute('aria-expanded', 'false');
		});

		contents.forEach((content) => {
			content.setAttribute('aria-hidden', 'true');
		});

		panelToActivate.querySelector('button').setAttribute('aria-expanded', 'true');

		panelToActivate.querySelector('.accordion-content').setAttribute('aria-hidden', 'false');

	}
</script>
</MainLayout>