---
import MainLayout from "../layouts/MainLayout.astro";

const title = "About Us";
const description = "Welcome to the official website of LNP Books.";
const url = "https://www.google.com";
const locale = "en-US";
const image = "https://pixlr.com/images/index/remove-bg.webp";
export const aboutSlug = "about";

// CSS
import '../styles/global.css';
import '../styles/about.css';


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
>
<div class="about">
	<div class="header">
		<h1>About Us</h1>
	</div>
	<div id="main" class="main">
	</div>
</div>
</MainLayout>