---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Thank you for your message!";
const description = "Welcome to the official website of LNP Books.";
const url = "https://books.lnp-group.com";
const locale = "en-US";
const image = "/images/esu-timeline.png";
export const aboutSlug = "about";

// CSS
import '../styles/global.css';
import '../styles/success.css'


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
>
<div class="success">
	<div class="header">
		<h1>Thank you!</h1>
	</div>
	<div id="main" class="main">
		<p>Your message was sent. We will get back to you soon.</p>
        <a href="/">Go back to the homepage</a>
	</div>
</div>

</MainLayout>