---

// Components


// Props and other properties
const {image, title, description, cta, cta_url} = Astro.props;


// CSS Styles
import '../styles/herosection.css';


---

<div class="hero">
  <div class="hero__background"></div>
  <div class="hero__image">
    <img src={image} alt={title} />
  </div>
  <div class="hero__content">
    <h2 class="hero__title">{title}</h2>
    <p class="hero__description">{description}</p>
    <a href={cta_url} class="hero__cta">{cta}</a>
  </div>
</div>