---
import MainLayout from "../../layouts/MainLayout.astro";


// SEO

const title = "Books";
const description = "Welcome to the official website of LNP Books.";
const url = "https://books.lnp-group.com/books";
const locale = "en-US";
const image = "/images/esu-timeline.png";

// CSS
import '../../styles/global.css';
import '../../styles/books.css';


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
	alternateUrls={{
		"en": "https://books.lnp-group.com/books",
		"us": "https://books.lnp-group.com/en-us/books",
		"ro": "https://books.lnp-group.com/ro-ro/cărți"
	}}
>
<div class="books">
	<div class="header">
		<h1>Books</h1>
	</div>
	<div id="main" class="main">
		<a href="/books/esu" class="franchise">
			<img src="/images/esu.png" alt="The Ethereal Superheores Universe" />
			The Ethereal Superheroes Universe
		</a>
		<div class="books-list">
			<div class="title">
				<h2 class="phase">Phase One</h2>
				<h3 class="phase-name">The Ethereals</h3>
			</div>
			<div class="book-list">
				<a class="book" href="/books/esu/purple-bolt">
					<img src="/images/purple-bolt.png" alt="Purple Bolt" class="slider-image">
					<p class="caption">Purple Bolt</p>
				</a>
				<a class="book" href="/books/esu/thor">
					<img src="/images/thor.png" alt="Thor" class="slider-image">
					<p class="caption">Thor</p>
				</a>
				<a class="book" href="/books/esu/madame-wilhelmina">
					<img src="/images/madame-wilhelmina.png" alt="Madame Wilhelmina" class="slider-image">
					<p class="caption">Madame Wilhelmina</p>
				</a>
				<a class="book" href="/books/esu/doctor-hex">
					<img src="/images/doctor-hex.png" alt="Doctor Hex" class="slider-image">
					<p class="caption">Doctor Hex</p>
				</a>
				<a class="book" href="/books/esu/the-ghost">
					<img src="/images/the-ghost.png" alt="The Ghost" class="slider-image">
					<p class="caption">The Ghost</p>
				</a>
				<a class="book" href="/books/esu/the-ethereals">
					<img src="/images/the-ethereals.png" alt="The Ethereals" class="slider-image">
					<p class="caption">The Ethereals</p>
				</a>
			</div>
		</div>
	</div>
</div>
</MainLayout>