---
import MainLayout from "../../layouts/MainLayout.astro";

// Components
import Book from "../../components/Book.astro";


// SEO

const title = "Books";
const description = "Welcome to the official website of LNP Books.";
const url = "https://books.lnp-group.com";
const locale = "en-US";
const image = "/images/esu-timeline.png";

// CSS
import '../../styles/global.css';
import '../../styles/books.css';


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
>
<div class="books">
	<div class="header">
		<h1>Books</h1>
	</div>
	<div id="main" class="main">
		<a href="/books/esu" class="franchise">
			<img src="/images/esu.png" alt="The Ethereal Superheores Universe" />
			The Ethereal Superheroes Universe
		</a>
		<div class="books-list"></div>
	</div>
</div>
</MainLayout>