---

import MainLayout from "../../../layouts/MainLayoutRo.astro";

// SEO
const title = "Autori";
const description = "Bun venit pe site-ul oficial LNP Books.";
const url = "https://books.lnp-group.com/ro-ro/autori";
const locale = "ro-RO";
const image = "/images/esu-timeline.png";


// CSS
import '../../../styles/global.css';
import '../../../styles/authors.css';


---


<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
	alternateUrls={{
		"en": "https://books.lnp-group.com/authors",
		"us": "https://books.lnp-group.com/en-us/authors",
		"ro": "https://books.lnp-group.com/ro-ro/autori"
	}}
>

<div class="authors-page">
	<div class="header">
		<h1>Autori</h1>
	</div>
    <div id="main" class="main">
        <div class="author-list">
            <a class="author" href="/ro-ro/autori/cioarec-stelian">
                <img src="/images/authors/stelian-cioarec.jpg" alt="Cioarec Stelian" class="author-image" />
                <p class="author-name">Cioarec Stelian</p>
            </a>
        </div>
    </div>
</div>

</MainLayout>
    