---
import MainLayout from "../../../../layouts/MainLayout.astro";


// SEO

const title = "The Ghost | Ethereal Superheroes Universe";
const description = "Thor, our Norse god of thunder has to deal with some problems that take place on Earth.";
const url = "https://books.lnp-group.com/en-us/books/esu/the-ghost";
const locale = "en-US";
const image = "/images/the-ghost.png";

// CSS
import '../../../../styles/global.css';
import '../../../../styles/book.css';


---

<MainLayout
	title={title}
	description={description}
	url={url}
	locale={locale}
	image={image}
    alternateUrls={{
		"en": "https://books.lnp-group.com/books/esu/the-ghost",
		"us": "https://books.lnp-group.com/en-us/books/esu/the-ghost",
		"ro": "https://books.lnp-group.com/ro-ro/cărți/ues/fantoma"
	}}
>
<div class="books">
	<div class="header">
		<h1>The Ghost</h1>
	</div>
	<div id="main" class="main">
		<div class="book">
            <div class="book-cover">
                <img src="/images/the-ghost.png" alt="The Ghost promotional image" />
            </div>
            <div class="book-info">
                <p><span class="info-box">Title:</span> The Ghost</p>
                <p><span class="info-box">Author:</span> <a href="/en-us/authors/stelian-cioarec">Stelian Cioarec</a></p>
                <p><span class="info-box">Synopsis:</span> <i>A murderer has to fight criminals in the real world, after his death, as a punishment from Lucifer for his crimes.</i></p>
                <p><span class="info-box">Release Date:</span> TBA</p>
                <p><span class="info-box">Page No.:</span> TBA</p>
                <p><span class="info-box">Series:</span> <a href="/en-us/books/esu">Ethereal Superheroes Universe</a></p>
            </div>
            <div class="book-details">
                <h2>Characters</h2>
                <ul class="book-details-list">
                    <li class="character">
                        The Ghost
                    </li>
                    <li class="character">
                        Lucifer
                    </li>
                </ul>
                <h2>Locations</h2>
                <ul class="book-details-list">
                    <li>
                        Earth
                    </li>
                    <li>
                        Hell
                    </li>
                </ul>
                <h2>Items</h2>
                <ul class="book-details-list">
                    <li>
                        Coming soon
                    </li>
                </ul>
                <h2>Links</h2>
                <ul class="book-details-list">
                    <li>
                        Socials
                        <ul class="book-details-list">
                            <li>
                                <a href="https://www.instagram.com/ESUTheGhost/" target="_blank">
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/ESUTheGhost/" target="_blank">
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ESUTheGhost/" target="_blank">
                                    Twitter
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>
</MainLayout>